body, div, ul, li {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100px;
}

body {
    font-size: .14rem;
    padding-top: .5rem;
    background: linear-gradient(top right, #7f7280, #3f3380);
    background: -webkit-linear-gradient(top right, #7f7280, #3f3380);
    background: -o-linear-gradient(top right, #7f7280, #3f3380);
    background: -moz-linear-gradient(top right, #7f7280, #3f3380);
    background: -ms-linear-gradient(top right, #7f7280, #3f3380);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.active {
    background: rgba(0, 0, 0, 0.6);
    transition: background 2s ease;
}

.header_logo {
    flex: 0 0 1.5rem;
    margin-left: .2rem;
}

.header_logo a {
    color: #ddd;
    font-size: .2rem;
    text-shadow: 5px 5px 15px #000;
}

.header_logo a:hover {
    color: #fff;
}

.header_search {
    flex: 0 0 2.5rem;
    height: .3rem;
    margin-right: .2rem;
    border: 1px solid #ddd;
    border-radius: 20px;
    display: flex;
}

.header_search:hover {
    border-color: #fff;
}

::-webkit-input-placeholder {
    color: #fff;
}

.search_input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    padding-left: .15rem;
    color: #fff;
    font-size: .14rem;
}

.search_btn {
    flex: 0 0 .3rem;
    background: url('../img/sbtn.png') no-repeat;
    background-position: 5px;
    cursor: pointer;
}

.sbtn {
    width: .3rem;
    height: .3rem;
    display: block;
    background: url('../img/sbtn.png') no-repeat;
    background-position: 5px;
    cursor: pointer;
    position: absolute;
    top: .1rem;
    right: .1rem;
    display: none;
}

.mv_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mv_list li {
	width: 3rem;
    margin: .2rem 0;
}

.mv_list_item {
    color: #ddd;
    font-family: '微软雅黑', sans-serif;
    box-shadow: 0 0 15px #ddd;
    cursor: pointer;
    transition: box-shadow 1s ease;
}

.cover {
    width: 3rem;
    height: calc(3rem / 1.78);
    display: block;
    overflow: hidden;
    position: relative;
}

.cover img {
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}

.delete {
	width: .5rem;
	height: .5rem;
	line-height: .45rem;
	text-align: center;
	visibility: hidden;
	color: #ddd;
	background: rgba(0,0,0,0.2);
	font-size: .3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -0.25rem;
	margin-top: -0.25rem;
	border-radius: 50%;
	transition: background-color 1s ease;
}

.mv_list_item:hover {
    box-shadow: 0 0 30px #fff;
}

.mv_list_item:hover img {
    transform: scale(1.2);
}

.mv_list_item:hover .delete {
	visibility: visible;
	background: rgba(0,0,0,0.8);
}

.title, .singer {
    padding: .05rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: padding-box;
}

.wave {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url('../img/wave.gif') no-repeat;
    margin-right: .1rem;
}

.tip {
    margin: .2rem 0;
    text-align: center;
    color: #ddd;
    display: none;
}

.setting {
	padding: .04rem 0;
    background: #fff;
    font-family: '微软雅黑', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: 0 0 15px #fff;
    border-radius: 3px;
    display: none;
}

.setting li {
    padding: .1rem;
    cursor: pointer;
}

.setting li:hover {
    color: #fff;
    background: linear-gradient(right, #7f7280, #3f3380);
    background: -webkit-linear-gradient(right, #7f7280, #3f3380);
    background: -o-linear-gradient(right, #7f7280, #3f3380);
    background: -moz-linear-gradient(right, #7f7280, #3f3380);
    background: -ms-linear-gradient(right, #7f7280, #3f3380);
}

.li-active {
    color: #fff;
    background: linear-gradient(right, #7f7280, #3f3380);
	background: -webkit-linear-gradient(right, #7f7280, #3f3380);
    background: -o-linear-gradient(right, #7f7280, #3f3380);
    background: -moz-linear-gradient(right, #7f7280, #3f3380);
    background: -ms-linear-gradient(right, #7f7280, #3f3380);
}

.bg-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#video {
    height: 100%;
}

@media screen and (min-width: 500px) {
    .header_search {
        flex: 0 0 2.5rem;
        height: .3rem;
        margin-right: .2rem;
        border: 1px solid #ddd;
        border-radius: 20px;
        display: flex;
    }
    .sbtn {
        display: none;
    }
    .delete {
    	line-height: .45rem;
    }
    #video {
        width: auto;
        height: 100%;
    }
}

@media screen and (max-width: 500px) {
    .header_search {
        display: none;
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    .sbtn {
        display: block;
    }
    .delete {
    	line-height: .5rem;
    }
    #video {
        width: 100%;
        height: auto;
    }
}